<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>About</title>
<link href="Main.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.auto-style12 {
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 77%;
}
.auto-style3 {
	color: #FFFFFF;
}
.auto-style14 {
	font-family: "Bahnschrift SemiBold";
}
.auto-style15 {
	font-family: "Bahnschrift SemiBold";
	font-size: 25pt;
}
.auto-style16 {
	font-family: "Bahnschrift SemiBold";
	margin-top: 0px;
}
.auto-style17 {
	margin-top: 0px;
}
</style>
</head>

<body bgcolor="#000000">
<ul id="menu-bar" style="position: absolute; left: 220px; top: 198px; width: 777px;">
 <li style="left: 0px; top: 0px; width: 156px"><a href="default.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Home</a></li>
 <li><a href="#">Classic Films</a>
  <ul>
   <li><a href="movie1.html">STAR WARS</a></li>
   <li><a href="movie2.html">BLADE RUNNER</a></li>
   <li><a href="movie3.html">PLANET OF THE APES</a></li>
   <li><a href="movie4.html">PREDATOR</a></li>
  </ul>
 </li>
 <li><a href="merchandise.html">Merchandise</a>
  </li>
 <li class="active"><a href="about.html">About</a></li>
 <li style="left: -1px; top: -1px"><a href="Contact.html">Contact Us</a></li>
</ul>
<img alt="" height="115" src="Image/logo%20cut.png" style="position: absolute; left: 473px; top: 70px" width="367" /></p>
	<!-- Begin master div#header -->
<div id="Master" style="position: absolute; width: 737px; height: 486px; z-index: -10; left: 266px; top: 257px;">
	<!-- Begin background div#header -->
	<div style="position: absolute; width: auto; height: auto; z-index: -10" id="layer1">
		<img alt="" height="498" src="Image/bk2.png" width="737" />
	</div>
		<!-- end div#header -->
			<!-- Begin Text + background div#header -->
			<div style="position: absolute; width: 736px; height: 245px; z-index: 1; left: 0px; top: 0px;" id="layer1">
				<p align="center" class="auto-style15" style="height: 16px">-Our Mission-<o:p></o:p></p>
				<p align="center" class="auto-style16" style="height: 1px">Our mission is to get 
				back in to the time mission and seek out what we had missed out.<o:p></o:p></p>
				<p align="center" class="auto-style15" style="height: 16px">-About-<o:p></o:p></p>
				<p align="center" class="auto-style14">At reel classic company 
				we would want to show an experience for the young viewers what they 
				had missed out on throughout the history of cinematography. As a 
				company who would strive to the maximum ability to not let 
				classical films die in vain. From the first movie to the last 
				forgotten movie would never go down in our watch, every Monday 4 
				movies would be put up with the best highlight, don’t forget to 
				checkout our store, we have cool merchandise and movies for sale. 
				This week there would be a secret movies coming out and all to 
				do with Science Fiction.<o:p></o:p></p>
				<p align="center" class="auto-style14">
				<o:p>Meanwhile checkout our Social media.</o:p></p>
	</div>
					<!-- end div#header -->
		<!-- Social media1 div#header -->		
		<div style="position: absolute; width: 161; height: 160px; z-index: 1; left: 2px; top: 300px;" id="Social Media1">
		<p><a href="https://www.facebook.com/rifas.niyasudeen/">
			<img src="Image/facebook.gif" onmouseover="this.src='Image/facebook2.gif'" onmouseout="this.src='Image/facebook.gif'" height="161" width="160" class="auto-style17" />
		</div>
					<!-- end div#header -->
							<!-- Social media2 div#header -->		
		<div style="position: absolute; width: 161; height: 160px; z-index: 1; left: 280px; top: 300px;" id="Social Media1">
		<p><a href="https://twitter.com/iZestyGamer/">
			<img src="Image/twitter.gif" onmouseover="this.src='Image/twitter1.gif'" onmouseout="this.src='Image/twitter.gif'" height="161" width="160" class="auto-style17" />
		</div>
					<!-- end div#header -->
		<!-- Social media3 div#header -->		
		<div style="position: absolute; width: 161; height: 160px; z-index: 1; left: 560px; top: 300px;" id="Social Media1">
		<p><a href="https://www.youtube.com/channel/UCe99x9LaU8AtDoP2g9BhNVQ/">
			<img src="Image/youtube.gif" onmouseover="this.src='Image/youtube1.gif'" onmouseout="this.src='Image/youtube.gif'" height="161" width="160" class="auto-style17" />
		</div>
					<!-- end div#header -->

			</div> 
			<!-- end div#header -->

		
		
		
		
		
		
		<!-- Begin div#header -->
<div id="Footer" style="position: absolute; width: 732px; height: 100px; z-index: 278; left: 269px; top: 762px;">
		<p id="legal" class="auto-style12">Copyright &copy;TheReelClassic... All Rights Reserved.</p>
		<p class="MsoNormal" style="color: #FFFFFF; text-align: center; font-size: 70%">
		<span class="auto-style3" lang="EN-US">Disclaimer: This site does not 
		store any files on its server. All contents are provided by 
		non-affiliated third parties.<o:p></o:p></span></p>
		<p class="MsoNormal" style="color: #FFFFFF">&nbsp;</p>
		<p id="links">&nbsp;</p>

</div>
	<!-- end div#header -->

</body>
</html>
