/*- Menu Tabs 17--------------------------- */
    #tabs17 {
      font: bold 11px/1.5em Verdana;
      float:left;
      width:100%;
      background:change-background;
      line-height:normal;

      }
    #tabs17 ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
      }
    #tabs17 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs17 a {
      float:left;
      background:url("images/tableft17.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs17 a span {
      float:left;
      display:block;
      background:url("images/tabright17.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs17 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs17 a:hover span {
      color:#FFF;
      }
    #tabs17 a:hover {
      background-position:0% -42px;
      }
    #tabs17 a:hover span {
      background-position:100% -42px;
      }